<ion-header>
  <ion-navbar text-center>
    <ion-title style="text-align: center">
      <div id="title-salon">Il Brand</div>
      <div id="sub-title-salon">Benvenuto!</div>
    </ion-title>
    <ion-buttons right (click)="closeModal()">
      <button tappable id="close-button" right ion-button icon-only>
        <ion-icon name="custom-x"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <div tappable (click)="closeModal()"></div>
    <div>
      <form padding-top>
        <div padding>
          <div class="label-login">INSERISCI I TUOI DATI DI ACCESSO</div>
  
          <ion-row>
            <ion-col>
              <ion-list>
  
                <ion-col>
                  <ion-label stacked>La tua e-mail</ion-label>
                  <ion-row padding-top>
                    <ion-input type="text" class="login-border-input" name="email" [(ngModel)]="loginData.email" required></ion-input>
                  </ion-row>
                </ion-col>
  
                <ion-col>
                  <ion-label stacked>La tua password</ion-label>
                  <ion-row padding-top>
                    <ion-input class="login-border-input" type="password" name="password" [(ngModel)]="loginData.password" required></ion-input>
                  </ion-row>
                </ion-col>
  
              </ion-list>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col class="signup-col">
              <button tappable ion-button class="login-btn" full  (click)="submitLogin()">ACCEDI</button>
  
              <p *ngIf="fromPageString !== 'HistoryBookingPage'" style="margin-top:10px; margin-bottom:0 !important; " text-center>
                <a tappable (click)="toChangePassword($event)" class="text-forgot-password">Ho dimenticato la password</a>
              </p>
              <p *ngIf="fromPageString !== 'HistoryBookingPage'" text-center style="margin-top:12%;">
                <button tappable (click)="toRegister($event)" text-center block outline ion-button color="light" class="register-btn" style="border: 2px solid #9B9B9B;  border-radius: 5px;">
                  REGISTRATI
                </button>
              </p>
            </ion-col>
          </ion-row>
        </div>
      </form>
    </div>
  </ion-content>