page-login {
    .regular-text {
        color: #4A4A4A;
        font-size: 18px !important;
    }
    .label-ios[stacked] {
        margin-bottom: 4px;
        font-size: 14px !important;
    }
    .list-ios {
        margin: -1px 0 25px !important;
    }
    .login-border-input {
        border-radius: 5px;
        box-shadow: 1px 1px 1px #cec8c8;
        border: 1px solid #ded8d8;
    }
    .col {
        padding: 0;
    }
    .label-md[stacked],
    .label-md[floating] {
        margin-left: 0;
        margin-bottom: 10px;
        font-family: 'Open Sans';
    }
    .text-forgot-password {
        cursor: pointer;
        color: grey;
        text-decoration: underline;
    }
    .text-register {
        cursor: pointer;
        color: rgb(65, 61, 61);
        text-decoration: underline;
        font-size: 16px;
    }
    .main-view {
        background: transparent;
    }
    .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
        background-color: #f5f2f2;
    }
    .modal_content {
        position: absolute; // top: calc(10% - (10%/2));
        top: 2%;
        left: 0;
        right: 0;
        width: 100%;
        height: 80%;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 10px;
        color: #333;
        background: #FFFFFF;
        border-radius: 0;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
    }
    .bar-buttons {
        position: absolute;
        right: 0;
        margin-top: 12px;
        margin-right: 10px;
    }
    .back-button.show-back-button {
        display: none !important;
    }
    .bluesky-button {
      background-color: #10CBD2;
      border-radius: 5px !important;
  }
  .button {
    text-transform: none !important;
  }
}