<ion-header>
  <ion-navbar class="custome-navbar">
    <ion-title class="custome-title">
      <div id="title-salon">Il Brand</div>
      <div id="sub-title-salon">Lo staff</div>
    </ion-title>    
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <span *ngFor="let staff of staffs">
      <ion-row no-padding>
        <img src="{{staff.image}}" width="100%" height="10%">
      </ion-row>
      <ion-row padding>
        <div class="title-content">
          <b>{{staff.name}}</b>
        </div>
        <p [innerHtml]=staff?.about>
        </p>
      </ion-row>
    </span>
  </ion-grid>

  <hr style="height:2px; margin-left:10%; margin-right:10%">

  <div style="text-align: center;">
    <img src="assets/icon/logo.png" class="icon-image-bottom" onclick="window.open('https://www.ilbrandtradate.it')">
  </div>

  <div>
    <div id="title-city">
      <b>{{staff?.name}}</b>
    </div>
    <div id="content-address">
      <p style="margin-top:3px;">{{staff?.address}} {{staff?.city}} 
        <br>{{staff?.phone}}
        <br><div *ngIf="staff !== null">P.IVA {{staff?.piva}}</div>
      </p>
    </div>
  </div>

  <hr style="height:2px; margin-left:10%; margin-right:10%">

  <ion-row id="privacy-help">
    <ion-col col-5 style="text-align: right;">
      <div id="privacy">
        Privacy
      </div>
    </ion-col>
    <ion-col col-2></ion-col>
    <ion-col col-5 style="text-align: left;">
      <div id="help">
        Aiuto
      </div>
    </ion-col>
  </ion-row>
</ion-content>