<ion-header>
  <ion-navbar class="default-navbar custome-navbar">
    <ion-title class="custome-title">
      <div id="title-salon">{{salon_header_name}}</div>
      <div id="sub-title-salon">Lo staff</div>
    </ion-title>
    <ion-buttons right class="bar-button-custom">
      <button tappable ion-button icon-only (click)="list($event)">
        <ion-icon name="custom-hamburger-two-line"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>

<ion-content class="{{scrollStatus}}" style="background: #fff">
  <ion-grid no-padding>
    <span *ngFor="let staff of staffs">
      <ion-row no-padding>
        <div class="image-staff" [style.background-image]="'url(' + staff.image_url + ')'"></div>
      </ion-row>
      <ion-row padding>
        <div class="title-content">
          <b>{{staff.operator_name}}</b>
        </div>
        <p *ngIf="staff.description" [innerHtml]=staff.description></p>
        <p *ngIf="!staff.description">bio</p>
      </ion-row>
    </span>
  </ion-grid>

  <hr style="height:1px; margin: 20px 0;background-color: rgba(0, 0, 0, 0.12)">

  <div style="text-align: center;">
    <div class="icon-image-bottom" *ngIf="salon?.logo_image" (click)="openWebpage(salon?.website)" [style.background-image]="'url(' + salon?.logo_image + ')'"></div>
  </div>

  <div>
    <div id="title-city">
      <b>{{salon?.name}}</b>
    </div>
    <div id="content-address">
      <p style="margin-top:3px;">
        {{salon?.address}} {{salon?.city}}
        <br>{{salon?.phone}}
        <br>
        <span *ngIf="salon !== null">P.IVA {{salon?.piva}}</span>
      </p>
    </div>
  </div>

  <hr style="height:1px; margin: 20px 0;background-color: rgba(0, 0, 0, 0.12)">
  <div text-center padding-bottom class="creata-footer">
    App Creata da <b><a onclick="window.open('https://www.salonist.it/digital', '_system', 'location=yes'); return false;">Salonist</a></b>
  </div>

</ion-content>