page-staff {
    #sub-title-salon {
        color: #AEB5BB;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
    }
    p {
        color: #666;
    }
    .title-content {
        color: #4A4A4A;
        font-size: 18px;
    }
    #privacy-help {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #privacy {
        font-size: 14px;
        color: grey;
        text-align: right;
    }
    #help {
        font-size: 14px;
        color: grey;
        text-align: left;
    }
    #title-city {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
    }
    #content-address {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }
    .icon-image-bottom {
        margin-top: 35px;
        margin-bottom: 10px;
        margin-left: 20%;
        margin-right: 20%;
        height: 60px;
    }
}