<ion-header>
  <ion-navbar class="default-navbar custome-navbar">
    <ion-title class="default-title custome-title">
      <div id="title-salon">{{salon_header_name}}</div>
      <div id="sub-title-salon">Dettaglio Preno</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding style="padding-bottom: 10px">
    <div class="treatment-name">{{booking?.title}}</div>
    <div>
      <span class="treatment-name">{{booking?.reservation_date}} </span>
      <span class="customer-value">ore</span>
      <span class="treatment-name">{{booking?.reservation_hour}}</span>
    </div>
  </div>

  <hr>
  <div padding style="padding-top: 8px">
    <ion-row>
      <span class="treatment-name">{{booking?.salon_name}}</span>
    </ion-row>
    <ion-row class="salon-address">
      {{booking?.salon_address}}, {{booking?.salon_city}}
    </ion-row>
    <br>
    <div>
      <span class="con-operatore">con operatore</span>
      <span class="operator-value">{{booking?.operator_name | uppercase}}</span>
    </div>
  </div>

  <div padding class="total-style">
    <ion-row>
      <ion-col col-3>
        <span class="gray-text"> totale</span>
      </ion-col>
      <ion-col col-9>
        <div class="total-value">&#8364; {{booking?.price}}.00</div>
      </ion-col>
    </ion-row>
    
    <ion-row *ngIf="voucherUseStatus">
      <ion-col col-9>
        <span class="gray-text"> pagato con GIFT CARD</span>
      </ion-col>
      <ion-col col-3 class="total-value" style="padding-left: 1%">
        <div class="total-value" style="padding-left: 0">&#8364; {{voucherPrice | number : '1.2-2'}}</div>
      </ion-col>
    </ion-row>
    
    <ion-row *ngIf="voucherUseStatus">
      <ion-col col-9>
        <span class="gray-text"> rimanente da pagare</span>
      </ion-col>
      <ion-col col-3 class="total-value" style="padding-left: 1%">
        <div class="total-value" style="padding-left: 0">&#8364; {{rimanente | number : '1.2-2'}}</div>
      </ion-col>
    </ion-row>
  </div>

  <ion-row padding>
    <button tappable text-center block ion-button color="danger" class="bold riprenota" (click)="rebooking()">RIPRENOTA</button>
  </ion-row>

  <div padding-top padding-left padding-right>
    <div *ngIf="!booking?.has_review">
      <div class="vote-label-main">VOTA IL SALONE PER QUESTO APPUNTAMENTO</div>
      <div padding text-center>
        <div class="vote-label">Ambiente</div>
        <ion-row>
          <ion-col col-8 offset-2 style="padding-top: 0">
            <rating [(ngModel)]="rating.environment" emptyStarIconName="custom-star-empty" halfStarIconName="custom-star-half" starIconName="custom-star-full"></rating>
          </ion-col>
        </ion-row>
      </div>
      <div padding-bottom padding-right padding-left text-center>
        <div class="vote-label">Servizio</div>
        <ion-row>
          <ion-col col-8 offset-2 style="padding-top: 0">
            <rating [(ngModel)]="rating.service" emptyStarIconName="custom-star-empty" halfStarIconName="custom-star-half" starIconName="custom-star-full"></rating>
          </ion-col>
        </ion-row>
      </div>
      <div padding-bottom padding-right padding-left text-center>
        <div class="vote-label">Staff</div>
        <ion-row>
          <ion-col col-8 offset-2 style="padding-top: 0">
            <rating [(ngModel)]="rating.staff" emptyStarIconName="custom-star-empty" halfStarIconName="custom-star-half" starIconName="custom-star-full"></rating>
          </ion-col>
        </ion-row>
      </div>
      <div padding-bottom padding-right padding-left text-center>
        <div class="vote-label">Qualità/Prezzo</div>
        <ion-row>
          <ion-col col-8 offset-2 style="padding-top: 0">
            <rating [(ngModel)]="rating.quality" emptyStarIconName="custom-star-empty" halfStarIconName="custom-star-half" starIconName="custom-star-full"></rating>
          </ion-col>
        </ion-row>
      </div>
      <div padding-bottom text-center>
        <div class="vote-label">Commento (opzionale)</div>
        <ion-textarea name="description" class="comment-field" [(ngModel)]="rating.review"></ion-textarea>
      </div>
      <ion-row padding-bottom padding-top>
        <button tappable text-center block ion-button color="primary" class="bold" (click)="postReview()">INVIA</button>
      </ion-row>
    </div>

    <div padding-bottom padding-right padding-left text-center *ngIf="booking?.has_review">
      <div class="vote-label-main">HAI GIA' VOTATO PER QUESTO APPUNTAMENTO</div>
      <ion-col col-8 offset-2 style="padding-top: 0">
        <rating [(ngModel)]="booking.review_rating" readOnly="true" emptyStarIconName="custom-star-empty" halfStarIconName="custom-star-half" starIconName="custom-star-full"></rating>
        <p style="margin-top: 0; padding-top: 0">{{booking.review_rating_text}}</p>
      </ion-col>
    </div>

  </div>

</ion-content>