change-password {
    form {
        margin-top: -12px !important;
    }
    .label-login {
        color: #9B9B9B;
        font-size: 13px;
        font-weight: 400 !important;
        font-family: 'Open Sans Semibold';
        line-height: 18px;
        padding-bottom: 3px;
        border-bottom: 1px solid #D8D8D8;
    }
    .regular-text {
        color: #4A4A4A;
        font-size: 18px !important;
    }
    .label-ios[stacked] {
        color: #4A4A4A;
        font-size: 16px;
        line-height: 22px;
    }
    .list-ios {
        margin: -1px 0 25px !important;
    }
    .login-border-input {
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.18);
        padding-left: 10px;
    }
    .col {
        padding: 0;
    }
    .label-md[stacked],
    .label-md[floating] {
        margin-left: 0;
        margin-bottom: 10px;
        font-family: 'Open Sans';
    }
    .text-forgot-password {
        cursor: pointer;
        text-decoration: underline;
        color: #9B9B9B;
        font-size: 13px;
        line-height: 18px;
    }
    .register-btn {
        .button-inner {
            color: #9B9B9B;
            font-size: 16px;
            font-weight: 400 !important;
            line-height: 22px;
            font-family: 'Open Sans Semibold';
        }
    }
    .login-btn {
        border-radius: 5px;
        background-color: #10CBD2;
        .button-inner {
            font-weight: 400 !important;
            line-height: 22px;
            font-family: 'Open Sans Semibold';
            border-radius: 5px !important;
        }
    }
    .bar-buttons {
        margin-right: 10px;
    }
    .back-button.show-back-button {
        display: none !important;
    }
    .button {
        text-transform: none !important;
        height: 47px;
    }
    .custome-navbar {
        padding-top: calc(20px + 4px);
        min-height: calc(68px + 20px);
    }
    .custome-title {
        text-align: center;
        padding-top: 20px;
        height: calc(68px + 20px);
    }
    #sub-title-salon {
        color: #AEB5BB;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
    }
}