<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center">Ydanco Seregno</ion-title>
    <div style="text-align: center; color:grey; font-size: 12px; ">Listino</div>
    <ion-buttons right>
      <button class="bar-button-default-salonist-user" ion-button icon-only (click)="list($event)"><ion-icon name="list"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="">
    <ion-slides #sliderMonth>
      <ion-slide *ngFor="let month of months" [class.changebutton]="setColorMonth === month.value">
        <button class="btn-slide-month" ion-button [class.active]="changeColorMonth === month.value" ion-button (click)="onClickMonth(month)">
        <div  [class.active-text]="changeColorMonth === month.value"><b>{{month.name}}</b></div>
        </button>
      </ion-slide>
    </ion-slides>

    <ion-slides #sliderDate>
      <ion-slide *ngFor="let date of dates" [class.changebutton]="setColorDate === date.id">
        <button class="btn-slide-date" ion-button [class.active]="changeColorDate === date.id" (click)="onClickDate(date)">
          <ion-row>
            <ion-col>
                <div class="text-day" [class.active-text]="changeColorDate === date.id"><b>{{date.shortDay}}</b></div>
            </ion-col>
            <ion-col>
                <div class="text-date" [class.active-text]="changeColorDate === date.id">{{date.date}}</div>
            </ion-col>
          </ion-row>
        </button>
      </ion-slide>
    </ion-slides>

    <ion-label>OPERATORI DISPONIBILI</ion-label>
    <hr>
    
    <ion-list *ngFor="let operator of operators">
      <div *ngFor="let operator of operator.operators">
        <div style="margin-bottom:10px;">{{operator.operator_name}}</div>
        <select [(ngModel)]="timeSet" style="margin-bottom:5px;">
          <option *ngFor="let time of operator.hours" value="{{time}}">{{time}}</option>
        </select>
        <!-- <div class="massager-record">TOP STYLIST</div> -->
      </div>
    </ion-list>

  </div>
  <ion-row padding>
    <button text-center ion-button color="danger" (click)=onSumbit() class="btn-next">Ulteriormente</button>
  </ion-row>
</ion-content>