page-booking {
    #sub-title-salon {
        color: #AEB5BB;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
    }
    .default-navbar {
        padding-top: calc(30px + 4px);
        min-height: calc(68px + 20px);
    }
    .default-title {
        text-align: center;
        padding-top: 20px;
        height: calc(68px + 20px);
    }
    .back-button.show-back-button {
        display: inline-block;
        position: absolute;
    }
    form,
    input,
    optgroup,
    select {
        margin: 0;
        font: inherit;
        color: inherit;
        width: 100% !important;
        height: 34px !important;
        background-color: white !important;
    }
    .hr {
        height: 2px !important;
    }
    .button-default {
        border-radius: 8px;
        border: 2px solid #D7D7D7;
        color: #D7D7D7;
        background-color: #FFFFFF;
        height: 4.6rem;
        box-shadow: none;
    }
    .slider-pager .slider-pager-page {
        color: red;
    }
    .btn-slide-month {
        width: 78px;

        .button-inner{
          span{
            font-family: 'Open Sans Semibold';
            font-weight: 400 !important;
            font-size: 13px;
          }

        }
    }
    .btn-slide-date {
        width: 78px;
        height: 90px !important;
        border: none;
    }
    .btn-slide-date .text-day {
        font-size: 100%;
        text-align: left;
        color: #9B9B9B;
    }
    .btn-slide-date .text-date {
        font-size: 53px;
        text-align: left;
        color: #9B9B9B;
        font-family: 'Open Sans Light';
    }
    .active-text-month {
        font-family: 'Open Sans Semibold', Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .active-text {
        color: #FFFFFF !important;
    }
    .active-text-day {
        color: #FFFFFF !important;
        font-size: 100%;
        font-family: 'Merriweather Bold', Arial, Helvetica, sans-serif !important;
    }
    .active-text-time {
        color: #FFFFFF;
        font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
    }
    .text-title-operator {
        font-family: 'Open Sans Semibold', Arial, Helvetica, sans-serif;
        color: #9B9B9B;
        font-size: 14px;
        line-height: 19px;
        margin-top: 29px;
        padding-bottom: 3px;
        border-bottom: 1px solid #D8D8D8;
        width: 95%;
    }
    .text-title-operator-name {
        font-family: 'Open Sans Semibold', Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin-bottom: 0;
    }
    .btn-slide-time {
        width: 78px;
        height: 50px;
        margin-top: 5px;
    }
    .massager-record {
        color: #D7D7D7;
        font-size: 12px;
        margin-top: -10px;
    }
    .swiper-slide-active {
        .button-default {
            // border-radius: 8px;
            // background-color: #00CED4;
            // border: none;
        }
    }
    .button-default.activated {
        // background-color: #00CED4;
        // background-color: red;
    }
    .active {
        background-color: #00CED4;
        border: none;
        border-radius: 8px;
    }
    .active-text {
        color: #FFFFFF;
    }
    .slide-edit {
        border-radius: 8px;
        background-color: #00CED4 !important;
        border: none;
    }
    .changebutton .button-default {
        border-radius: 8px;
        background-color: #00CED4;
        border: none;
        .active-text {
            color: #FFFFFF;
        }
    }
    .changebutton .button-default {
        border-radius: 8px;
        background-color: #00CED4;
        border: none;
        .active-text {
            color: #FFFFFF !important;
        }
    }
    .btn-next {
        width: 100%;
        border: none;
        background-color: #f65c5c;
        color: #FFFFFF;
    }
    .bar-buttons-md[right] {
        text-align: right;
        -webkit-box-ordinal-group: 7;
        -webkit-order: 6;
        -ms-flex-order: 6;
        order: 6;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 6px;
        margin-right: 6px;
    }
    .active {
        background-color: #00CED4;
        border: none;
        border-radius: 8px;
    }
    .active-select {
        width: 10px;
    }
    .scroll-content {
        bottom: -56px !important;
        padding-bottom: 30px !important;
    }
    .hide-header {
        transition: bottom 0.25s ease;
        bottom: 0 !important;
    }
    .show-header {
        transition: bottom 0.25s ease;
        bottom: -53px !important;
    }
} 