<ion-header>
  <ion-navbar class="default-navbar">
    <ion-title class="default-title">
      Il BRAND
      <div style="color:grey; font-size: 12px; ">Conatatti & Orari</div>
    </ion-title>
    <ion-buttons right class="bar-button-custom">
      <button ion-button icon-only (click)="list($event)">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="" padding>
    <ion-slides #sliderMonth>
      <ion-slide *ngFor="let month of months" [class.changebutton]="setColorMonth === month.id">
        <button class="btn-slide-month" ion-button [class.active]="changeColorMonth === month.id" ion-button (click)="onClickMonth(month)">
        <span  [class.active-text-month]="changeColorMonth === month.id" style="font-size:13px;">{{month.month}}</span>
        </button>
      </ion-slide>
    </ion-slides>
    <ion-slides  #sliderDate>
    <ion-slide *ngFor="let date of dates" [class.changebutton]="setColorDate === date.id">
     
      <button class="btn-slide-date" ion-button [class.active]="changeColorDate === date.id" (click)="onClickDate(date)">
          <ion-row>
                <div class="text-day" [class.active-text-day]="changeColorDate === date.id">{{date.shortDay}}</div>
            
                <div class="text-date" [class.active-text]="changeColorDate === date.id">{{date.date}}</div>
          </ion-row>
        </button>
      </ion-slide>
    </ion-slides> 
    <ion-label class="text-title-operator">OPERATORI DISPONIBILI</ion-label>
    <hr>
    <div *ngFor="let operator of operatorArray">
    <div>
      <ion-label  class="text-title-operator-name">{{operator.operator_name}}</ion-label>
    </div>
    <ion-slides #sliderTime slidesPerView="3" (click)="postOperator(operator)">
      <ion-slide *ngFor="let time of operator.hours">
        <button class="btn-slide-time" ion-button [class.active]="changeColorTime === time.id" (click)="onClickTime(time)">
        <div [class.active-text-time]="changeColorTime === time.id" style="font-family: 'Open Sans Bold';">{{time.hour}}</div>  
        </button>
      </ion-slide>
    </ion-slides>
    {{opeartorNameProvider}}
    </div>
  </div>
  <ion-row padding>
    <button text-center ion-button color="danger" (click)=onSumbit() class="btn-next bold">PROSEGUI</button>
  </ion-row>
</ion-content>