<ion-header>
    <ion-navbar class="default-navbar">
      <ion-title class="default-title">
      Il BRAND
      <div style="color:grey; font-size: 12px; ">Benvenuto!</div>
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="main-view">
  <div class="overlay" (click)="closeModal()"></div>
  <ion-list class="modal_content">
    <ion-item *ngIf="!isSignedIn">
      <div class="list-content" (click)="goLogin($event)" style="color:#03d9e0">
        <b>ACCEDI o REGISTRATI</b>
      </div>
    </ion-item>
    <ion-item *ngIf="isSignedIn">
      <div class="list-content" (click)="goMyProfile($event)">Il tuo profilo</div>
    </ion-item>
    <ion-item>
      <div class="list-content" (click)="goListTreatment($event)">Prenota</div>
    </ion-item>
    <ion-item *ngIf="isSignedIn">
      <div class="list-content" (click)="goMybook($event)">Prenotazioni</div>
    </ion-item>
    <ion-item [navPush]="StaffPage">
      <div class="list-content">Lo staff</div>
    </ion-item>
    <ion-item [navPush]="ContactPage">
      <div class="list-content">Contatti & Orari</div>
    </ion-item>
    <ion-item *ngIf="isSignedIn">
      <div class="list-content" (click)="doLogout($event)">Esci</div>
    </ion-item>
  </ion-list>
</ion-content>