page-cart {
  .trova-button-home{
      width: 100%;
  }
  .row-cast {
    border-bottom: 1px solid #ccd3d9;
    margin:0;
    padding:0;
  }
  .icon-remove {
    margin-top: 10px;
    font-size: 40px;
  }
  .color-icon {
    color:#f65c5c;
  }
}
  