<ion-header>
  <ion-navbar class="default-navbar custome-navbar">
    <ion-title class="default-title custome-title" text-center>
      <div text-center id="title-salon">{{salon_header_name}}</div>
      <div id="sub-title-salon">Prenotazioni</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="padding-bottom:10px;">
  <ion-row class="title" padding-top padding-bottom>
    {{this.name}}
  </ion-row>

  <ion-row padding-top class="treatment-head-section">PRENOTAZIONI ATTIVE</ion-row>
  <hr />
  <div class="active-treatment-list">
    <ion-grid *ngFor="let treatment of activeTreatment" style="padding: 0; padding-bottom: 13px" class="treatment-list">
      <ion-row tappable class="row-cast" (click)="goToActiveDetailBooking(treatment)">
        <ion-col col-10 style="padding-left: 0">
          <h6 class="treatment-title active">{{treatment.title}}</h6>
          <div class="treatment-detail-label">
            <span class="active">{{treatment.reservation_date}}</span> ore <span class="active">{{treatment.reservation_hour}}</span>
          </div>
        </ion-col>
        <ion-col col-2>
          <ion-icon name="ios-arrow-forward-outline" class="row-treatment" float-right></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-row padding-top class="treatment-head-section">PRENOTAZIONI TRASCORSE</ion-row>
  <hr style="height: 1px;" />
  <div class="old-treatment-list">
    <ion-grid *ngFor="let treatment of pastTreatment" style="padding: 0; padding-bottom: 13px" class="treatment-list">
      <ion-row tappable class="row-cast" (click)="goToPastDetailBooking(treatment)">
        <ion-col col-10 style="padding-left: 0">
          <h6 class="treatment-title">
            <span class="past">{{treatment.title}}</span>
          </h6>
          <div class="treatment-detail-label past">
            {{treatment.reservation_date}} ore {{treatment.reservation_hour}}
          </div>
        </ion-col>
        <ion-col col-2>
          <ion-icon name="ios-arrow-forward-outline" class="row-treatment" float-right style="color: #9B9B9B;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <hr style="height:1px; margin: 20px 0;background-color: rgba(0, 0, 0, 0.12)">
  <div style="text-align: center;">
    <div class="icon-image-bottom" *ngIf="salon?.logo_image" (click)="openWebpage(salon?.website)" [style.background-image]="'url(' + salon?.logo_image + ')'"></div>
  </div>
  <div>
    <div id="title-city">
      <b>{{salon?.name}}</b>
    </div>
    <div id="content-address">
      <p style="margin-top:3px;">
        {{salon?.address}} {{salon?.city}}
        <br>{{salon?.phone}}
        <br>
        <span *ngIf="salon !== null">P.IVA {{salon?.piva}}</span>
      </p>
    </div>
  </div>

  <hr style="height:1px; margin: 20px 0;background-color: rgba(0, 0, 0, 0.12)">
  <div text-center padding-bottom class="creata-footer">
    App Creata da <b><a onclick="window.open('https://www.salonist.it/digital', '_system', 'location=yes'); return false;">Salonist</a></b>
  </div>
</ion-content>