page-list-customer-treatment {
  .custome-navbar {
      padding-top: calc(20px + 4px);
      min-height: calc(68px + 20px);
  }
  .custome-title {
      text-align: center;
      padding-top: 20px;
      height: calc(68px + 20px);
  }
  #sub-title-salon {
      color: #AEB5BB;
      font-family: "Open Sans";
      font-size: 14px;
      line-height: 19px;
      font-weight: 400;
  }
  hr {
    margin-top: 3px;
    background:none;
  }
  .title {
    color: rgba(28,28,28,0.82); 
    font-family: 'Merriweather Regular';  
    font-size: 21px;  
    font-weight: bold;  
    line-height: 27px;
  }

  .treatment-head-section{
    color: #9B9B9B; 
    font-size: 13px; 
    font-weight: 400 !important; 
    line-height: 18px;
    font-family: 'Open Sans Semibold';
  }

  .treatment-title{
      font-size: 16px;  line-height: 20px; font-family: 'Open Sans Semibold';
      .active{
        color: #4A4A4A;
      }
      .past{
        color: #9B9B9B;
      }
  }
  .title-text {
    margin-bottom: 25px;
    color: #ea1515;
    font-size: 16px;
  }
  .text-date {
    font-size: 14px;
    color: grey;
  }
  .treatment-detail-label {
    font-size: 14px;   
    
    .active{
      color: #10CBD2;
      font-family: 'Open Sans Semibold';
      font-weight: 400 !important;
    }
    .past{
      color: #9B9B9B;
      font-family: 'Open Sans Semibold';
      font-weight: 400 !important;
    }
  }
  .btn-modif-telephone {
    width: 100%;
    background-color: white;
    border: 1px solid #9A9A9A;
    color: #9A9A9A;
  }

  .active-treatment-list{
      margin-top: 15px;
  }

  .old-treatment-list{
      margin-top: 15px;
  }
  
  .active-treatment-list .treatment-list{
    .row-cast {
      border-bottom: 1px solid #ccd3d9;
      margin:0;
      padding:0;
      padding-bottom: 13px;
    }
  }

  .active-treatment-list .treatment-list:last-child
    {
      .row-cast {
        border-bottom: none;
        margin:0;
        padding:0;
        padding-bottom: 13px;
      }
    }

  .old-treatment-list .treatment-list{
    .row-cast {
      border-bottom: 1px solid #ccd3d9;
      margin:0;
      padding:0;
      padding-bottom: 13px;
    }
  }

  .old-treatment-list .treatment-list:last-child
    {
      .row-cast {
        border-bottom: none;
        margin:0;
        padding:0;
        padding-bottom: 13px;
      }
    }

  .delete-account {
    text-align: center;
    color: grey;
    margin-top: 30px
  }
  .treatment-list {
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
}
