<ion-header>
  <ion-navbar class="custome-navbar">
    <ion-title class="custome-title">
      Il BRAND
      <div style="color:grey; font-size: 12px; ">Prenotazioni</div>
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="list($event)">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
  <!-- <div *ngIf="response === 0" style="text-align:center;">
    <h5><b>elenco di trattamenti vuoto</b></h5>
  </div> -->
  <ion-grid *ngFor="let treatment of treatments">
    <ion-row class="row-cast">
      <ion-col col-8>
        <h6>{{treatment.title}}</h6>
        <div class="treatment-detail-label">
          <span>
            <b>{{treatment.salon_name}}</b>
          </span>
        </div>
      </ion-col>
      <ion-col col-4>
        <ion-icon class="text-date" float-right>
          <i>{{treatment.reservation_date}}</i>
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>