<ion-header>
  <ion-navbar class="default-navbar custome-navbar">
    <ion-title class="custome-title">
      <div id="title-salon">Il Brand</div>
      <div id="sub-title-salon">Contatti & Orari</div>
    </ion-title>
    <ion-buttons right class="bar-button-custom">
      <button tappable ion-button icon-only (click)="list($event)">
        <ion-icon name="custom-hamburger-two-line"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="des-salon">
    <div class="name-salon">
      {{contact?.name}}
    </div>
    <div class="address">{{contact?.address}} {{contact?.city}}</div>
    <div class="contact">
      <div style="margin-bottom: 3px;">
        <ion-icon name="call"></ion-icon>
        <a href="tel:{{contact?.phone}}" class="phone">{{contact?.phone}}</a>
      </div>
      <div>
        <ion-icon name="ios-at-outline"></ion-icon>
        <a href="mailto:{{contact?.email}}" class="email">{{contact?.email}}</a>
      </div>
    </div>
  </div>

  <div #map id="map"></div>
  <div style="margin-left: 10%;margin-right: 10%">
    <ion-item class="schedule">
      <b>ORARI DI APERTURA</b>
    </ion-item>
    <div>
      <ion-row *ngFor="let item of contact?.salon_work_day" style="color: #666">
        <ion-col col-6 class="day">
          {{item.day}}
        </ion-col>
        <ion-col col-6 class="time">
          {{item.time}}
        </ion-col>
      </ion-row>
    </div>
  </div>
  <hr style="height:1px; margin: 20px 10%;">
  <div style="text-align: center;">
    <img src="assets/icon/logo.png" class="icon-image-bottom" onclick="window.open('https://www.ilbrandtradate.it')">
  </div>

  <div>
    <div id="title-city">
      <b>{{contact?.name}}</b>
    </div>
    <div id="content-address">
      <p style="margin-top:3px;">{{contact?.address}} {{contact?.city}} 
        <br>{{contact?.phone}}
        <br><div *ngIf="contact !== null">P.IVA {{contact?.piva}}</div>
      </p>
    </div>
  </div>

  <hr style="height:2px; margin-left:10%; margin-right:10%">

</ion-content>