page-history-booking {
    #sub-title-salon {
        color: #AEB5BB;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
    }
    .default-navbar {
        padding-top: calc(30px + 4px);
        min-height: calc(68px + 20px);
    }
    .default-title {
        text-align: center;
        padding-top: 20px;
        height: calc(68px + 20px);
    }
    .treatment-info-detail {
        padding-top: 18px;
        padding-bottom: 12px;
    }
    .treatment-info-salon-detail {
        padding-top: 6px;
        padding-bottom: 13px;
    }
    .treatment-info-salon-address {
        color: #9B9B9B;
        font-size: 14px;
        line-height: 19px;
    }
    hr {
        height: 1.91px;
        border: 0.5px solid #D8D8D8;
        margin-top: 0;
    }
    .total-value {
        font-size: 18px;
        float: right;
        color: #FF4653 !important;
        font-family: 'Open Sans Semibold', Arial, Helvetica, sans-serif;
    }
    .text-pay {
        font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
    }
    .trova-button-home {
        width: 100%;
        background-color: #FF4653;
        font-family: 'Open Sans Semibold', Arial, Helvetica, sans-serif;
    }
    .header-label {
        font-family: 'Open Sans Semibold', Arial, Helvetica, sans-serif;
        color: #9A9A9A;
        margin-bottom: -5px;
    }
    .treatment-name {
        font-family: 'Open Sans Semibold', Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #4A4A4A;
    }
    .row-cast {
        border-bottom: 1px solid #ccd3d9;
        margin: 0;
        padding: 0;
    }
    .salon-address {
        color: #9B9B9B;
        font-family: 'Open Sans, Open Sans Regular', Arial, Helvetica, sans-serif;
    }
    .con-operatore {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 15px;
        line-height: 19px;
    }
    .payoption-name {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 15px;
        line-height: 20px;
        height: 45px;
    }
    .customer-value {
        color: #08d9f5;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
    .operator-value {
        font-weight: 600;
        font-size: 16px;
        color: #08d9f5;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }
    .total-style {
        background-color: #F9F6F6;
    }
    .email-form-style {
        background-color: #F9F6F6;
        font-family: 'Open Sans Semibold Italic';
        color: #4A4A4A;
        font-size: 14px;
    }
    .treatment-time {
        font-size: 16px;
        line-height: 22px;
    }
    .gray-text {
        font-size: 17px;
        font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
    }
    .size-radio-btn {
        width: 1.5em;
        height: 1.5em;
    }
    .list-md .item-block .item-inner {
        margin-left: -30px;
    }
    .item-md [item-left],
    .item-md [item-right],
    .item-md [item-start],
    .item-md [item-end] {
        padding-top: 5px;
    }
    .item-radio-checked.item-md ion-label {
        color: #252627;
    }
    .radio-md .radio-icon .radio-inner {
        background-color: #08d9f5;
        font-size: 50px;
        width: 17px;
        height: 17px;
    }
    .radio-md .radio-icon {
        width: 25px;
        height: 25px;
        border-color: #10cbd2;
    }
    .radio-md .radio-checked {
        border-color: #08d9f5;
        font-size: 68px;
        width: 25px;
        height: 25px;
    }
    .cambia-orario {
        width: 100%;
        background-color: white;
        border: 2px solid #9B9B9B;
        color: #9B9B9B;
    }
    .item-md {
        padding-left: 0;
    }
    .item-radio.item-md ion-label {
        margin-left: 0;
        padding-top: 5px;
    }
    .bar-buttons-md[right] {
        text-align: right;
        -webkit-box-ordinal-group: 7;
        -webkit-order: 6;
        -ms-flex-order: 6;
        order: 6;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 6px;
        margin-right: 6px;
    }
    .email-border-input {
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.18);
        margin-top: 13px;
    }
    .label-form {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 15px !important;
        line-height: 20px;
    }
    .label-registrasi {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
    }
    .btn-text-register {
        color: #F9F6F6;
        font-family: "Open Sans";
        font-size: 16px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 16px;
    }
    .btn-register {
        border-radius: 5px;
        background-color: #10CBD2;
    }
    .text-reservation {
        color: #9B9B9B !important;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 22px;
        font-weight: bold;
    }
    .disable-text {
        color: #c7c7c7;
    }
}