<ion-header>
  <ion-navbar class="default-navbar">
    <ion-title class="default-title">
      <div id="title-salon">Il Brand</div>
      <div id="sub-title-salon">Riepilogo</div>
    </ion-title>
    <ion-buttons right class="bar-button-custom">
      <button tappable ion-button icon-only (click)="list($event)">
        <ion-icon name="custom-hamburger-two-line"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div padding-left padding-right class="treatment-info-detail">
    <div class="treatment-name">{{treatmentParam.des_treatment}}</div>
    <div class="treatment-time">
      <span class="customer-value">
        <b>{{dataOther.dayName}} {{dataOther.date}} {{dataOther.monthName}}</b>
      </span> ore
      <span class="customer-value">{{dataOther.time}}</span>
    </div>
  </div>

  <div padding-left padding-right>
    <hr>
  </div>  
  <div padding-left padding-right class="treatment-info-salon-detail">
    <ion-row>
      <span class="treatment-name">{{salon.name}}</span>
    </ion-row>
    <ion-row class="treatment-info-salon-address">
      {{salon.address}}
    </ion-row>
    <div style="margin-top: 15px">
      <span class="con-operatore">con operatore</span>
      <span class="operator-value">
        {{operatorParam.operator_name | uppercase}}
      </span>
    </div>
  </div>

  <div>

    <div class="total-style">
      <div padding>
        <span class="gray-text"> totale</span>
        <span class="total-value">&#8364; {{treatmentParam.price}}</span>
      </div>
    </div>
    <ion-grid padding>
      <ion-row radio-group [(ngModel)]="payoptionModel" style="text-align:center">
        <ion-col col-6 *ngFor="let payoption of payOptions">
          <div class="payoption-name" [class.disable-text]="payoption.disable === true">{{payoption.option}}</div>
          <div style="margin-bottom: 5px;">
            <img src="{{payoption.image}}" style="width:50px; height:50px;">
          </div>
          <div>
            <ion-radio disabled="{{payoption.disable}}" mode="md" value="{{payoption.id}}"></ion-radio>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="!showFormEmail">
      <form [formGroup]="entryForm">
      <div class="email-form-style" padding>Per completare la prenotazione ci servono alcuni dati. In questo modo potremo contattarti in caso di necessita e il
        salone avra i tuoi riferimenti per eventuali comunicazioni.
      </div>
      <div padding>

        <div>
          <div class="label-registrasi">Sei già registrato su Salonist?</div>
          <div class="btn-text-register">
            <button tappable text-center ion-button block class="bold btn-register" (click)="toLogin()">ACCEDI</button>
          </div>
          <div class="label-registrasi">Non sei registrato?</div>
          <div class="text-reservation">
              Inserisci i tuoi dati per completare la prenotazione
          </div>
        </div>

        <ion-col>
          <ion-label class="label-form" stacked>il tuo nome</ion-label>
          <ion-input type="text" class="email-border-input" required formControlName="name"></ion-input>
          <div *ngIf="showError && entryForm.controls.name.value === '' " style="color:red; font-size: 12px;">*Questo campo è richiesto</div>
        </ion-col>

        <ion-col>
          <ion-label class="label-form" stacked>il tuo indirizzo email</ion-label>
          <ion-input class="email-border-input" type="email" required formControlName="email"></ion-input>
          <div *ngIf="showError && entryForm.controls.email.value === '' " style="color:red; font-size: 12px;">*Questo campo è richiesto</div>
          <div *ngIf="entryForm.controls.email.errors?.email " style="color:red; font-size: 12px;">*Formato email non corretto</div>
        </ion-col>

        <ion-col>
          <ion-label class="label-form" stacked>il tuo numero di telefono</ion-label>
          <ion-input class="email-border-input" type="tel" required formControlName="phone"></ion-input>
          <div *ngIf="showError && entryForm.controls.phone.value === '' " style="color:red; font-size: 12px;">*Questo campo è richiesto</div>
        </ion-col>
      </div>
      </form>
    </div>

    <div padding>
      <button text-center ion-button block color="danger" class="conferma" class="conferma" (click)="onSave()">CONFERMA PRENOTAZIONE</button>
    </div>
  </div>
</ion-content>