page-home {
    .image-slide {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 35vh !important;
    }
    .button-outline-ios.activated{
        color: #4A4A4A;
        background-color: #fff;
        opacity: 1;
    }
    #container {
        width: 300px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    #title {
        text-transform: uppercase;
        color: #4A4A4A;
        font-size: 16px;
        font-weight: 400 !important;
        font-family: 'Open Sans Semibold', Arial, Helvetica, sans-serif;
        line-height: 21px;
        text-align: center;
    }
    #content {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 22px;
    }
    .btn-nuova {
        border-radius: 5px;
        background-color: #F65C5C;
    }

    .register-btn {
        .button-inner {
            color: #4A4A4A;
            font-size: 16px;
            font-weight: 400 !important;
            line-height: 22px;
            font-family: 'Open Sans Semibold';
        }
    }

    .recensioni-total{
        a{
            color: #4A4A4A;
        }
    }
}