page-home {
    .default-navbar {}
    .default-title {
        text-align: center;
        padding-top: 20px;
        height: calc(68px + 20px);
    } // when tracking on other page
    .custome-navbar {
        padding-top: calc(20px + 4px);
        min-height: calc(68px + 20px);
    }
    .custome-title {
        text-align: center;
        padding-top: 20px;
        height: calc(68px + 20px);
    }
    #sub-title-salon {
        color: #AEB5BB;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
    }
    #container {
        width: 300px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    #title {
        text-transform: uppercase;
        color: #4A4A4A;
        font-size: 16px;
        font-weight: 600 !important;
        font-family: 'Open Sans Semibold', Arial, Helvetica, sans-serif;
        line-height: 21px;
        text-align: center;
    }
    #content {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 22px;
    }
    .btn-nuova {
        border-radius: 5px;
        background-color: #F65C5C;
    }
    .icon-image-bottom {
        margin-top: 35px;
        margin-bottom: 10px;
        margin-left: 20%;
        margin-right: 20%;
        height: 60px;
    }
    #title-city {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
    }
    #content-address {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }
    #privacy-help {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #privacy {
        text-align: right;
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 15px;
        line-height: 28px;
    }
    #help {
        text-align: left;
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 15px;
        line-height: 28px;
    }
}