page-profile-setting {
  .title {
    font-size: 25px;
  }
  .title-text {
    margin-bottom: 25px;
    color: #ea1515;
    font-size: 16px;
  }
  .item-md {
  	padding-left: 0 !important;
  }
  .btn-modif-telephone {
  width: 100%;
  background-color: white;
  border: 1px solid #9A9A9A;
  color: #9A9A9A;
  }
  .form {
  	background-color: #F4F6EF;
  }
  .form-change-password {
  	margin-left: 10px;
  	margin-right: 10px;
  }
  .password-input {
  	background-color: #F4F6EF;
  	font-size: 14px
  }
  .email-content {
  	width: 100%;
  	margin-top: 15px;
  }
  .phone-content {
  	margin-top: 15px;
  }
  .label {
  color: #9A9A9A;
    margin-bottom: -5px;
  }
  .delete-account {
    text-align: center;
    color: grey;
    margin-top: 30px;
    margin-bottom: 20px
  }
  .close {
  	background-color: #F4F6EF;
  }
  .close-icon {
  	margin-top:15px;
  	background-color: #F4F6EF;
  }
}	
