// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* open-sans-regular - latin */

@font-face {
    font-family: 'Merriweather Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/merriweather/Merriweather-Regular.ttf');
}

@font-face {
    font-family: 'Merriweather Light';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/merriweather/Merriweather-Light.ttf');
}


/* merriweather-italic - latin */

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/merriweather/Merriweather-Italic.ttf');
}


/* merriweather-700 - latin */

@font-face {
    font-family: 'Merriweather Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/merriweather/Merriweather-Bold.ttf');
}


/* merriweather-700italic - latin */

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 700;
    src: url('../assets/fonts/merriweather/Merriweather-BoldIt.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/open-sans/OpenSans-Italic.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../assets/fonts/open-sans/OpenSans-BoldItalic.ttf');
}

@font-face {
    font-family: 'Open Sans Italic';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/open-sans/Open-Sans-italic.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/open-sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../assets/fonts/open-sans/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: 'Open Sans Semibold Italic';
    src: url('../assets/fonts/open-sans/OpenSans-SemiboldItalic.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../assets/fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Open Sans Extra Bold';
    src: url('../assets/fonts/open-sans/OpenSans-ExtraBold.ttf');
}

* {
    font-family: 'Open Sans';
}

.playfair {
    font-family: 'Playfair Display'
}

.toolbar-title {
    padding-top: 20px;
    padding-bottom: 10px;
}

.bar-button-custom {
    padding-top: 15px;
}

.back-button {
    padding-top: 15px;
}

// .header-main-title {
//     font-weight: 600;
// }
.bluesky-bg {
    background-color: #76CAE2;
}

.bluesky-button {
    background-color: #00CBD0;
}

.bar-button-default-salonist-user {
    color: #93E3DA !important;
}

.red-bg {
    background: #f65c5c;
    width: 100%;
}

.gray-text {
    color: #9D9D9D;
}

.regular-text {
    color: #4A4A4A;
}

.bar-button-default-ios {
    color: #4A4A4A;
}

.bolder {
    font-weight: 700;
}

ul {
    padding: 0px;
    &.rating li {
        padding: 5px 0px !important;
        background: none;
        color: #ffb400;
        ion-icon {
            font-size: 25px;
            color: #FDD06F;
        }
    }
}

.salon-detail-title {
    font-size: 20px;
}

.prenotare-content {
    font-size: 20px;
    margin-bottom: 25px;
}

.telephone {
    padding: 10px 40px;
    border: 3px solid #f65c5c;
    font-weight: bolder;
    a {
        color: #f65c5c;
        font-size: 22px;
        text-decoration: none;
    }
}

.lunedi-content {
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
}

.btn-cancel {
    width: 100%;
    background-color: white;
    border: 1px solid #9A9A9A;
    color: #9A9A9A;
}

// ion-modal {
// height: 90%;
// }
.range-ios-danger .range-bar-active,
.range-ios-danger .range-tick-active {
    background: #93E3DA;
}

// .toolbar .toolbar-title-ios {
//     font-weight: 100;
// }
.toolbar .toolbar-title-md {
    font-weight: 100;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
    margin-bottom: 15px;
    position: relative;
}

.bar-button-default-ios,
.bar-button-clear-ios-default,
.bar-button-ios-default {
    margin-right: 5px;
    position: relative;
}

.bar-button-default-ios,
.bar-button-back-ios-default,
.bar-button-ios-default {
    margin-left: 5px;
    position: relative;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.toolbar-title {
    color: #4A4A4A;
}

// custome icon
ion-icon {
    &[class*="custom-x"] {
        mask-image: url(../assets/icon/x_icon/x_icon-AppStore.png);
        width: 18px;
        height: 18px;
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
    }
    &[class*="custom-back"] {
        width: 25px;
        height: 25px;
        mask-image: url(../assets/icon/back.png);
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
    }
    &[class*="custom-hamburger-two-line"] {
        mask-image: url(../assets/icon/menu-icon.svg);
        width: 32px;
        height: 32px;
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
    }
    &[class*="custom-add"] {
        mask-image: url(../assets/icon/add_icon/add_icon-AppStore.png);
        content: url(../assets/icon/add_icon/add_icon-AppStore.png);
        width: 55px;
        height: 55px;
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
    }
    &[class*="custom-tel"] {
        mask-image: url(../assets/icon/tel_icon/tel_icon-AppStore.png);
        content: url(../assets/icon/tel_icon/tel_icon-AppStore.png);
        width: 55px;
        height: 55px;
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
    }
}