page-privacy {
    .back-button.show-back-button {
        position: absolute !important;
        padding-top:7px;
    }
    .text-main{
        font-size: 14px;  font-weight: 400; line-height: 19px; font-family: 'Open Sans Semibold'
    }

    h5{
      font-family: 'Open Sans Semibold'
    }
}
