<ion-header>
  <ion-navbar class="default-navbar custome-navbar">
    <ion-title class="default-title custome-title">
      <div id="title-salon">{{salon_header_name}}</div>
      <div id="sub-title-salon">Listino</div>
    </ion-title>
    <ion-buttons right class="bar-button-custom">
      <button tappable ion-button icon-only (click)="list($event)">
        <ion-icon name="custom-hamburger-two-line"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="{{scrollStatus}}" style="background: #fff;">
  <div *ngFor="let category of categoryTreatments">
    <ion-row class="row-cast" class="treatment-per-category-wrapper">
      <ion-col col-12 class="treatment-wrapper">
        <h4 class="treatment-category-info">{{category}}</h4>
      </ion-col>
    </ion-row>

    <ion-grid *ngFor="let treatment of treatments[category] | orderBy:'des_treatment'" class="content-style">
      <ion-row class="content-style-margin" >
        <ion-col col-9>
          <div class="treatment-info-title">{{treatment.des_treatment}}</div>
          <div class="treatment-info">
            <span class="treatment-detail-label">Durata:</span> {{treatment.duration_in_minute}} min.
          </div>
          <div *ngIf="treatment.price !== 0"  class="treatment-info">
            <div *ngIf="treatment.price === treatment.price_today">
              <span class="treatment-detail-label">Prezzo:</span> &#8364; {{treatment.price | number : '1.2-2'}}
            </div>
            <div *ngIf="treatment.price !== treatment.price_today">
              <span class="treatment-detail-label">Prezzo:</span> <span style="text-decoration: line-through;"> &#8364; {{treatment.price | number : '1.2-2'}}</span> <span style="color: #fe6523;"> &#8364; {{treatment.price_today | number : '1.2-2'}} </span>
            </div>
          </div>
        </ion-col>
        <ion-col col-3 class="treatment-action">
          <ion-icon tappable *ngIf="treatment.price !== 0" name="custom-add" (click)="addTreatment(treatment)"></ion-icon>
          <ion-icon tappable *ngIf="treatment.price === 0" name="custom-tel" (click)="showPhone()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="padding-left: 6%;padding-right: 6%;">
          <hr style="background-color: rgba(0, 0, 0, 0.12); height: 1px;">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div style="text-align: center;">
    <div class="icon-image-bottom" *ngIf="salon?.logo_image" (click)="openWebpage(salon?.website)" [style.background-image]="'url(' + salon?.logo_image + ')'"></div>
  </div>

  <ion-grid padding>
    <div>
      <div id="title-city">
        <b>{{salon?.name}}</b>
      </div>
      <div id="content-address">
        <p style="margin-top:3px;">{{salon?.address}} {{salon?.city}} 
          <br>{{salon?.phone}} 
          <br><div *ngIf="salon !== null">P.IVA {{salon?.piva}}</div>
        </p>
      </div>
    </div>
  </ion-grid>

  <hr style="height:1px; margin: 20px 0;background-color: rgba(0, 0, 0, 0.12)">
  <div padding-bottom text-center class="creata-footer">
    App Creata da <b><a onclick="window.open('https://www.salonist.it/digital', '_system', 'location=yes'); return false;">Salonist</a></b>
  </div>
</ion-content>