page-list-treatment {
    .content-style {
        padding-left: 10px;
    }
    .treatment-info-title {
        font-weight: 400 !important;
        font-family: 'Open Sans Semibold', Arial, Helvetica, sans-serif;
        color: #4A4A4A;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 5px;
    }
    .treatment-info {
        color: #4A4A4A;
        font-size: 15px;
        font-weight: 400 !important;
        font-family: 'Open Sans Semibold', Arial, Helvetica, sans-serif;
    }
    .treatment-detail-label {
        color: #D8D8D8;
        font-size: 14px;
    }
    .treatment-action {
        text-align: right;
        padding-right: 10px;
        margin: auto;
    }
    .fab ion-icon {
        font-size: 3.4rem !important;
        font-weight: 600;
        .fab ion-icon {
            font-size: 3.4rem !important;
            font-weight: 600;
        }
    }
    .icon-image-bottom {
        margin-top: 35px;
        margin-bottom: 10px;
        margin-left: 20%;
        margin-right: 20%;
        height: 60px;
    }
    #privacy-help {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #privacy {
        text-align: right;
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 15px;
        line-height: 28px;
    }
    #help {
        text-align: left;
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 15px;
        line-height: 28px;
    }
    #title-city {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
    }
    #content-address {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }
    .content-ios hr {
        height: 1px;
    }

    .content-md {
        margin-top:17px;
    }
}