page-my-booking {
    .grazie {
        color: #F65C5C;
        font-family: 'Merriweather Regular';
        font-size: 21px;
        line-height: 27px;
    }
    hr {
        height: 1px !important;
        margin: 0 20px;
    }
    .total-value {
        padding-bottom: 0 !important;
        font-size: 17px;
        text-align: right;
        float: right;
        color: #FF4653 !important;
        font-weight: bold;
    }
    .text-pay {
        font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
    }
    .trova-button-home {
        width: 100%;
        background-color: #FF4653;
        font-weight: 600;
    }
    .header-label {
        font-weight: 600;
        color: #9A9A9A;
        margin-bottom: -5px;
    }
    .treatment-name {
        font-weight: 400 !important;
        font-family: 'Open Sans Semibold', Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #4A4A4A;
    }
    .row-cast {
        border-bottom: 1px solid #ccd3d9;
        margin: 0;
        padding: 0;
    }
    .salon-address {
        color: #9B9B9B;
        font-weight: 400 !important;
        font-size: 14px;
    }
    .con-operatore {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 15px;
        line-height: 19px;
    }
    .option-pay {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 15px;
        line-height: 19px;
        text-align: right !important;
        float: right !important;
    }
    .pay-option {
        color: #FF4653;
        text-align: right;
        float: right;
        font-family: "Open Sans";
        font-size: 15px;
        line-height: 19px;
        padding-left: 35px;
        padding-top: 0 !important;
    }
    .payoption-name {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 15px;
        line-height: 20px;
        height: 45px;
    }
    .customer-value {
        font-size: 16px;
        color: #08d9f5;
        font-weight: 400 !important;
        font-family: 'Open Sans Semibold', Arial, Helvetica, sans-serif;
    }
    .operator-value {
        font-weight: 400 !important;
        font-size: 15px;
        color: #08d9f5;
        text-transform: uppercase;
        font-family: 'Open Sans Semibold', Arial, Helvetica, sans-serif;
    }
    .total-style {
        background-color: #F9F6F6;
    }
    .gray-text {
        font-size: 16px;
        text-align: left;
        font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
    }
    .content-page {
        color: #4A4A4A;
        font-family: "Open Sans";
        font-size: 15px;
        font-style: italic;
        line-height: 20px;
    }
    .btn-create-reminder {
        width: 100%;
        .button-inner {
            font-weight: 400 !important;
            font-family: 'Open Sans Semibold';
            font-size: 16px;
            line-height: 20px;
        }
    }
    .btn-new-reservation {
        width: 100%;
        .button-inner {
            font-weight: 400 !important;
            font-family: 'Open Sans Semibold';
            font-size: 16px;
            line-height: 20px;
        }
    }
    .bar-buttons-md[right] {
        text-align: right;
        -webkit-box-ordinal-group: 7;
        -webkit-order: 6;
        -ms-flex-order: 6;
        order: 6;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 6px;
        margin-right: 6px;
    }
    .total-label {
        color: #4A4A4A;
        font-size: 16px;
        line-height: 22px;
    }
    .total-value-voucher {
        padding-bottom: 0 !important;
        font-size: 17px;
        text-align: right;
        float: right;
        color: #9B9B9B !important;
        font-weight: bold;
    }
    .voucher-code{
        font-size: 12px;
    }
}