<ion-header>
  <ion-navbar hideBackButton="true" class="default-navbar custome-navbar">
    <ion-title class="default-title custome-title">
      <div id="title-salon">{{salon_header_name}}</div>
      <div id="sub-title-salon">Prenotazione effettuata</div>
    </ion-title>
    <ion-buttons right class="bar-button-custom">
      <button tappable ion-button icon-only (click)="list($event)">
        <ion-icon name="custom-hamburger-two-line"></ion-icon>
      </button>
    </ion-buttons>  
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding class="grazie" style="padding-bottom: 10px;">
    Grazie per aver prenotato!
  </div>
  <div padding style="padding-bottom: 10px">
    <div class="treatment-name">{{treatmentParam.des_treatment}}</div>
    <div>
      <span class="customer-value">{{dataOther.dayName}} {{dataOther.date}} {{dataOther.monthName}} {{dataOther.year}}</span> ore
      <span class="customer-value">{{dataOther.time}}</span>
    </div>
  </div>

  <hr>
  <div padding style="padding-top: 8px">
    <ion-row>
      <span class="treatment-name">{{salon.name}}</span>
    </ion-row>
    <ion-row class="salon-address">
      {{salon.address}}, {{salon.city}}
    </ion-row>
    <div style="padding-top: 11px">
      <span class="con-operatore">con operatore</span>
      <span class="operator-value">{{operatorParam.operator_name | uppercase}}</span>
    </div>
  </div>

  <div>

    <div padding class="total-style">
      <ion-row>
        <ion-col col-3>
          <span> totale</span>
        </ion-col>
         <ion-col [class.total-value-voucher]="voucherUseStatus" [class.total-value]="!voucherUseStatus" col-9>
          <div>
            <b>&#8364; {{treatmentParam.price | number : '1.2-2'}}</b>
          </div>
        </ion-col>
        <ion-col col-12 class="pay-option" *ngIf="!voucherUseStatus">
          <div>{{optionPay}}</div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="voucherUseStatus">
        <ion-col col-9>
          <span> pagato con {{voucherCode}}</span>
        </ion-col>
        <ion-col col-3 class="total-value-voucher">
          <div>
            <b>&#8364; {{voucherPrice | number : '1.2-2'}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="voucherUseStatus">
        <ion-col col-9>
          <span> rimanente da pagare</span>
        </ion-col>
        <ion-col col-3 class="total-value">
          <div>
            <b>&#8364; {{rimanente | number : '1.2-2'}}</b>
          </div>
        </ion-col>
        <ion-col col-12 class="pay-option">
          <div>{{optionPay}}</div>
        </ion-col>
      </ion-row>

    </div>

    <ion-grid padding>
      <div class="content-page">
        <p>Riceverai una conferma via email all'indirizzo con cui ti sei registrato ({{userBookingEmail}}).</p>
        <p>Si prega di prenotare in modo responsabile. È molto grave per i saloni quando non ti presenti ad un appuntamento.
          Certo, possono capitare degli imprevisti urgenti, quindi se sei Impossibilitato ad andare all'appuntamento sii
          cortese e annullalo dalla sezione 'prenotazioni' del tuo profilo.</p>
      </div>
    </ion-grid>
    <ion-row padding>
      <button text-center ion-button color="danger" class="btn-create-reminder bold" (click)="SaveToCalendar()">CREA PROMEMORIA</button>
      <button text-center ion-button class="btn-new-reservation bold" [navPush]="'HomePage'">NUOVA PRENOTAZIONE</button>
    </ion-row>
  </div>
</ion-content>